* {
  box-sizing: border-box;
}

#fondito{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;

  background-color: white;
  border: thin solid gray;
    z-index: -5;
}
.cuerpo_iz{
  position: relative;
  left: 0;
  top: 0;
  margin: 0 auto;
  border: thin solid green;
  height: 30em;
  width: 30em;
    z-index: -4;
}

.cabeza_iz{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: black;
  border: thin solid blue;
  height: 10em;
  width: 10em;
    z-index: -3;
}
